<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normal Time</title>
</head>

<body>
    <h1>Time Passed in Normal Space</h1>
    <p>In real life, you were absent for <%= years %> years, <%= months %> months, <%= days %> days.</p>
    <a href="/">Back to Home</a>
</body>

</html>