.form{
    display: flex;
    height: 2em;
}
#search {
    padding: 0 10px;
    color: green;
    width: 100%;
}
#search:hover{
    color: red;
}
button {
    text-transform: uppercase;
    color: green;
    padding: 0 10px;
}
button:hover{
    color: red;
}